body {
	background-color: lime;
	color: black;
	font-size: 30px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

p {
  	color: black;
  	font-size: 18px;
}

footer {
  	border-top: solid;
  	border-color:lime;
  	text-align: center;
  	position: fixed;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	height: 10%;
}

.footer-text {
	position: center;
	top: 50%;
	transform: translateY(-50%);
}


input[type=submit] {
   padding:5px 15px;
   background:lime;
   color:lime;
   border:0 none;
   
}


input[type=text] {
 border: none;
   background-color: lime;
   font-color: lime;
   font-size:50px;
   text-align: center;
 width: 100px;
   box-sizing: border-box;
   }

/*.center-body {
	position: absolute;
	top: 25%;
	transform: translateX(90%);
	text-align: center;
}*/